nav {
  border-bottom: #14253d solid 1px;
  width: 100%;
  position: fixed;
  top: 0;
  background: white;
  z-index: 1;
}

nav h1 {
  text-align: center;
  font-family: "Bad Script", cursive;
  font-size: 20px;
  font-weight: 800;
  padding: 10px 10px 0 10px;
}

nav img {
  padding-left: 10px;
}

.nav-images {
  /* Info on manipulating color of png img here: https://codepen.io/taryaoui/pen/EKkcu */
  -webkit-filter: opacity(0.5) drop-shadow(0 0 0 #14253d);
  filter: opacity(0.5) drop-shadow(0 0 0 #14253d);
  padding: 0 15px 5px 0;
  text-align: center;
}

nav img:active {
  -webkit-filter: opacity(0.5) drop-shadow(0 0 0 #7facc7);
  filter: opacity(0.5) drop-shadow(0 0 0 #7facc7);
}

@media screen and (min-width: 1024px) {
  nav {
    background: linear-gradient(
      rgba(255, 255, 255, 1),
      rgba(255, 255, 255, 0.3)
    );
    border-bottom: none;
  }

  nav img {
    padding-left: 10px;
    width: 50px;
  }

  nav h1,
  nav h2 {
    display: inline-block;
  }

  nav h1 {
    font-size: 40px;
    font-weight: 400;
    padding-left: 180px;
    margin: 0;
    letter-spacing: -3px;
    font-style: italic;
  }

  .nav-images {
    text-align: right;
  }
}
