article {
  padding-top: 105px;
  margin: 3%;
}

article h1 {
  font-weight: 700;
}

article h3 {
  font-weight: 600;
  font-size: 20px;
}

article img {
  width: 160px;
  margin-top: 8px;
  border-radius: 5px;
}

.country-name h1 {
  margin-bottom: 1px;
}

.country-name h4 {
  font-style: italic;
  padding-bottom: 15px;
}
